body {
    font-family: Arial, sans-serif; 
}

.logo {
    text-align: center;
   
}

.logo img {
    max-width: 50px;
}

/* Estilização do formulário */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p{
    color: black;
}

h1{
    color: rgb(223, 0, 186);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container principal */
.container {
    display: flex; /* Mantém os elementos lado a lado */
    align-items: left; /* Alinha verticalmente */
    justify-content: space-between; /* Separa o texto da imagem */
    max-width: 900px; /* Limita a largura */
    margin: 10px auto; /* Centraliza na tela */
    padding: 20px;
    
}

/* Estilizando o texto */
.texto {
    font-size: 28px; /* Tamanho grande do texto */
    max-width: 500px; /* Define um limite de largura */
}

/* Estilizando a imagem */
.foto {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 15px;
    width: 100%; /* Ajusta a imagem para telas pequenas */
        max-width: 250px;
        height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilha no mobile */
        text-align: center;
    }

    .texto {
        font-size: 28px; /* Reduz um pouco o tamanho do texto */
    }

}
.title {
font-size: 38px;
}

.rodape {
    background-color: #000; /* Fundo escuro */
    text-align: center;     /* Centraliza o texto */
    padding: 10px;          /* Espaçamento interno */
    margin-top: 80px;       /* Espaço acima do rodapé */
  }

  .rodape p {
    color: #fff; 
  }

  .carol{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
  }

  .perfil {
    display: flex;
    align-items: center;
    gap: 5px; /* Adiciona 5px de espaço entre a foto e os ícones */
}

.foto img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px; /* Mantém bordas arredondadas */
    border: 3px solid #ccc;
}

.icones {
    display: flex;
    flex-direction: column; /* Deixa os ícones em coluna */
    align-items: center; 
    gap: 45px;
    
}

.icones a {
    font-size: 80px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
    
}

.icones a:hover {
    color: #0077b5; /* Altera a cor ao passar o mouse */
}